# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
*.g.dart
flutter_*.png

# Android
/android/.gradle/
/android/.idea/
/android/local.properties
/android/*.iml

# iOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/.generated
/ios/Pods/
/ios/.symlinks
/ios/Flutter/Generated.xcconfig

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift

# Python
__pycache__/
*.pyc
.env

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# General
*.log
*.tmp
*.swp
pubspec.lock  # Optional: include if you want to version-control dependencies